<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Editar Empleado</title>
</head>
<body>
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 mb-3 border-bottom">Editar Empleado</h1>
        <form method="post" th:action="@{/templates/sitios/guardar}" th:object="${employee}" class="mt-2">
            <input th:field="*{id}" name="id" type="hidden"/>
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input th:field="*{firstName}" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Apellido</label>
                <input th:field="*{lastName}" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Correo Electrónico</label>
                <input th:field="*{email}" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Puesto</label>
                <select class="form-select" name="jobs" id="jobs">
                    <option th:each="puesto: ${listaPuesto}"
                            th:text="${puesto.jobTitle}" th:value="${puesto.jobId}"
                            th:selected="${employee.jobs.jobId == puesto.jobId}">Open this select menu</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Salario</label>
                <input th:field="*{salary}" type="text" class="form-control">
            </div>
            <!--div class="mb-3">
                <label class="form-label">Jefe</label>
                <select class="form-select" name="employees" id="employees">
                    <option th:each="employee: ${listaEmpleado}"
                            th:text="${employee.firstName}" th:value="${employee.id}"
                            th:selected="${employee.employee.id == employee.id}">Open this select menu</option>
                </select>
            </div-->
            <div class="mb-3">
                <label class="form-label">Jefe</label>
                <select class="form-select" name="employees" id="employees">
                    <option th:each="employee: ${listaEmpleado}"
                            th:text="${employee.firstName}" th:value="${employee.managerId}">Open this select menu</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Departamento</label>
                <select class="form-select" th:field="*{department}">
                    <option th:each="departament: ${listaDepartamento}"
                            th:text="${departament.departmentName}" th:value="${departament.departmentId}">Open this select menu</option>
                </select>
            </div>
            <a th:href="@{/templates/sitios}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>