<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
          crossorigin="anonymous">
    <title>Shipper list</title>
</head>
<body>
<div class="container">
    <div th:replace="index :: menu"></div>
    <h2>Lista Sitios</h2>
    <a class="btn btn-primary mt-4 mb-4" th:href="@{/templates/sitios/nuevoSitio}">Nuevo Empleado</a>

    <div th:if="${mensaje != null}" th:text="${mensaje}" class="alert alert-success" role="alert"></div>
    <table class="table table-sm">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Locación</th>
            <th>Fecha de Instalación</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="sitio, info: ${listaSitios}">
            <td th:text="${info.index + 1}"></td>
            <td th:text="${sitio.sitionombre}"></td>
            <td th:text="${sitio.locationId.pais} + - +  ${sitio.locationId.ciudad}"></td>
            <td th:text="${sitio.dia}"></td>
            <td th:text="${sitio.latitud}"></td>
            <td th:text="${sitio.longitud}"></td>
            <td><a class="btn btn-primary" th:href="@{'/sitio/editar?id=' + ${sitio.siteId}}">Editar</a></td>
            <td><a class="btn btn-danger" th:href="@{'/sitio/borrar?id=' + ${sitio.siteId}}">Borrar</a></td>
        </tr>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>
</html>